@font-face {
  font-family: "Acumin";
  src: url("../fonts/Acumin-RPro.otf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Mightype";
  src: url("../fonts/Mightype/Mightype.otf");
}
@font-face {
  font-family: "Cormorant";
  src: url("../fonts/Cormorant/CormorantGaramond-Light.ttf");
}
@font-face {
  font-family: "InterRegular";
  src: url("../fonts/Inter/Inter-Regular.ttf");
}

@font-face {
  font-family: "InterSemibold";
  src: url("../fonts/Inter/Inter-SemiBold.ttf");
}
@font-face {
  font-family: "DmSerif";
  src: url("../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}
