* {
  border: 0px;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(
    180deg,
    rgb(108, 108, 224),
    rgb(52, 54, 211)
  );
  font-family: InterRegular;
  letter-spacing: 1px;
}
p {
  font-family: InterSemibold;
  font-size: 12px;
  letter-spacing: 2px;
}

h1 {
  font-family: DmSerif;
  letter-spacing: 3px;
  color: rgb(255, 255, 255);
}
h2 {
  font-family: InterRegular;
  letter-spacing: 2px;
  color: rgb(194, 200, 243);
}
.navbar {
  font-family: InterSemibold;
  letter-spacing: 2px;
  font-size: 14px;
  border-width: 2px;
  background-color: #5959e9;
  color: black;
}
.boton {
  background-color: #5959e9;
  padding: 5px;
  color: white;
  border-radius: 5%;
}

.form {
  font-family: DmSerif;
  font-size: 13px;
  letter-spacing: 2px;
  color: white;
  background-color: #1a191ad4;
  margin: 4px;
}
